
@font-face {
  font-family: "PixelFont1";
  src: url('/Fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont2";
  src: url('/Fonts/aurora-24.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont3";
  src: url('/Fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont4";
  src: url('/Fonts/Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont5";
  src: url('/Fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont6";
  src: url('/Fonts/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ---- EnvelopePage ---- */

body {
  margin: 0;
}

#canvas-container {
  user-select: none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(138, 110, 92);
  position: relative;
}

.button-container {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  pointer-events: none;
  
}

.image-button, .right-button, .left-button, .close-btn, .open-btn {
  /* This allows buttons inside the container to be clickable again */
  pointer-events: auto;
}

.image-button {
  user-select: none;

  -webkit-user-drag: none; 
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width:100px;
  height: auto;
  cursor:pointer;
  transition: transform 0.2s ease-in-out;
}
.image-button:hover {
  transform: translateX(-50%) scale(1.1);
} 

.image-button:active {
  transform: translateX(-50%) scale(0.95);
  transition: transform 0.1s ease-in-out  
  }

.right-button {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 82.5%;
  right: 44%;
  z-index: 100;
  width: 27px;
  height:auto;
  cursor:pointer;
  transition: transform 0.2s ease-in-out;
}

.left-button {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 82.5%;
  left: 44%;
  z-index: 100;
  width: 27px;
  height:auto;
  cursor:pointer;
  transition: transform 0.2s ease-in-out;
}

.right-button:hover, .left-button:hover {
  transform: scale(1.1);
}
.right-button:active, .left-button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
  }

.sidetab {
  user-select: none;
  -webkit-user-drag: none;
  height: 700px;
  width: 450px;
  position: fixed;
  z-index: 100;
  top: 7%;
  right: -450px; /* Initially hidden off-screen to the right */
  background-color: #66252500;
  
  transition: 0.5s; /* The duration of the slide animation */
  padding-top: 60px;

  display: flex;
  flex-direction: column;
}

.sidetab-header{
  user-select: none;
  -webkit-user-drag: none;
  height: 40px; /* The exact space we need for the button */
  flex-shrink: 0; /* Prevents this header from shrinking */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Pushes the button to the right */
  padding-right: 10px; /* Space from the edge */
}
.sidetab-footer{
  user-select: none;
  -webkit-user-drag: none;
  height: 40px; /* The exact space we need for the button */
  flex-shrink: 0; /* Prevents this header from shrinking */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Pushes the button to the right */
  padding-right: 10px; /* Space from the edge */
}

.sidetab.open {
  right: 0; /* Slides into view */
}

.sidetab .close-btn {
  

  font-size: 36px;
  background: none; /* Make background transparent */
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 15px;
}
.logs-background {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* Ensures the image covers the entire div */
  z-index: -1;
  opacity: 1;/* Adjusts the transparency of the background image */
}

.open-btn {
  user-select: none;
  -webkit-user-drag: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #5a5454;
  color: white;
  padding: 10px 15px;
  border: none;
}


.sidetab-content {
  font-family: 'PixelFont5', monospace;
  user-select: none;
  -webkit-user-drag: none;
  flex-grow: 1; /* This is the key! It makes the content fill the remaining space */
  height: 0; /* Required for flex-grow to work properly in some scenarios */
  padding: 0 20px 20px 20px; 
  box-sizing: border-box;
  color:#faffd1;
  white-space: pre-wrap;
  font-size: 22px;       /* Adjust the size */
  line-height: 1.6;      /* Adjust spacing between lines for better readability */
  text-align: left; 
  
}

.simplebar-content-wrapper{
  padding-top: 20px !important;
}

.log-button{
  
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 50%; /* Center vertically minus half the button height */
  left: 0;
  height: 60px;
  transform: translate(-100%, -50%);
  width: auto;
  cursor: pointer;
  z-index: 101; /* Ensure it's above other elements */
}

.log-button:hover {
  transform: translate(-100%, -50%) scale(1.05);
}

.log-button:active {
  transform: translate(-100%, -50%) scale(0.95);
  transition: transform 0.1s ease-in-out;
}

.page-count {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  bottom: 14%;
  right: 50%;
  background-color: rgba(114, 63, 63, 0.5); /* Semi-transparent background */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'PixelFont5', monospace;
  transform: translate(50%, 0);
  font-size: 18px;
  z-index: 100; /* Ensure it's above other elements */
}

/* ---- LetterWriterPage ---- */