
@font-face {
  font-family: "PixelFont1";
  src: url('/Fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont2";
  src: url('/Fonts/aurora-24.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont3";
  src: url('/Fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont4";
  src: url('/Fonts/Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont5";
  src: url('/Fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelFont6";
  src: url('/Fonts/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
}

